*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.body1
{
    background-color: rgb(221, 226, 231);
    padding:80px;
}
h1{
    font-size: 3rem;
    padding-bottom: 20px;
}
.body1 p{
    font-size:1.3rem;
    padding-bottom:20px;
}
.body1 button{
    background-color: rgb(64, 64, 218);
    padding:10px;
    font-size: 1.2rem;
    color: white;
}
.body2{
    display:flex;
    justify-content: space-between;
    margin:80px;
    gap:40px;
}

h2,.body2 p{
    padding-bottom: 20px;
}
.body2 button{
    padding:10px;
    background-color: rgb(57, 63, 63);
    border-radius: 5px;
    color: white;
}
h5{
    margin-left: 60px;
}